@font-face {
  font-family: 'mySite'; /* 1. 任意のフォント名を指定 */
  src: url('./fonts/MOBO-Bold.otf') format('opentype'); /* 2. ファイルのパスと形式 */
  font-weight: normal;
  font-style: normal;
}
body {
   font-family: "mySite", "Noto Sans CJK JP", sans-serif;
  overflow-x: hidden;
  width: 60vw;
  position: relative;
}

#top{
  position: relative;
  width: 80vw
  position: relative; 
  left:16.5%;
}

div.pageTitle{
  position: relative;
  text-align: center;
  width: 75vw;
  font-size: 250%; }

.flex{
  display: flex;
/*  margin: 3% 0 0 0;*/
}
p.about{
  position: relative;
  right: 2%;
}

#title{

  background-color: #FFFFFF;
  text-align: center;
  width: 100vw;
  right: 14%;
  position: relative;
  font-size: 125%;
  /*margin: -2.8% 0 0 3%;*/
}
#titleIcon{
  position: relative;
  left: 39.5%;
  bottom: 100%;
  height: 20%;
  width: 20vw;
}
#subTitle{
  margin: -3% 0 0 6%;
  font-size: 50%;
  background-color: #FFFFFF;
}

#box{

  position: fixed;
  bottom: 1%;
  width: 99%;
  height: auto;
}

span.pageTitle{
  position: relative;
  left: 5.5%;
}

hr.hr{
  position: relative;
  right: 20%;
}

div.mokuji{
  z-index: 0; 
  font-size: 50%;
  position:relative;
  left: 29%;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  width: 35vw;
}

li{

  text-align: left;
}

p.yukkuri{
  text-align: center;
  position: relative;
  left: 6.5%;
  font-size: 75%;
}



#posts{
  background-color: #FFFFFF;
  position: relative;
  bottom: 32%;
}

.txt{
  z-index: 10000;
  background-color: #FFFFFF;
  right: 5%;
}

h1.latest{
  background-color: #FFFFFF;
  position: relative;
  left: 15.5%;
  font-size: 150%;
  text-decoration: underline;
  z-index: 100000;
}

.yohaku{
  width:50vw;
  position: relative;
  left: 42%;
}

.clips{
  background-color: #F0F0F0;
  position: relative;
  left: 26%;
  width: 70vw;
  z-index: 10;
  border: 1px solid #FFFFFF;
}

div.subHead{
  position: relative;
  z-index: 100000;
}

div.background{
  position: sticky;
  top: 0%;
   
  font-family: "Ubuntu Mono", "Noto Sans CJK JP";
  font-size: 50%;
  color: #222222;
  transform: scale(2.5, 1);
  /* 輪郭の色と太さを指定（2pxの黒色） */
  z-index: 700000;

}
div.background h1{
  position: relative;

}

div.background2{
position: sticky;
  top: 3%;
  font-family: "Ubuntu Mono", "Noto Sans CJK JP";
  font-size: 100%;
  text-align: center;
  color: #222222;
  background-color: #FFFFFF;
  transform: scale(2.5, 1);
  /* 輪郭の色と太さを指定（2pxの黒色） */
  z-index: -99999;
  left: 20%;


}

div.latestDiv{
  background-color: #FFFFFF;
  z-index: 10000000;
  width: 100vw;
  position: sticky;
  top: 0%;
}
